<!DOCTYPE html>
<html ng-app = "gtexcelApp">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GT Excel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-static-top.css" rel="stylesheet">

    <!-- Twitter Feed Styling -->
    <link href="css/twitter.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Excel</a>
        </div>
		
		<!-- Collapse Part-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Business</a></li>
                <li><a href="#">Job Resources</a></li>
                <li><a href="#">Contact</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Location</li>
                <li><a href="#">Contact Info</a></li>
                <li><a href="#">These are just placeholders for now</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>
	
	<hr class="featurette-divider">

      <div class="row featurette">
        <div class = "container">
			<h2 class="featurette-heading">About this website</h2>
			<p> This toolkit was created to help users with disabilities learn more about the job search process and find resources that can aid in career development. It was made for students of Georgia Tech Excel, a certificate program for individuals with disabilities, but most of the information is relevant to all residents of Georgia. To learn more about the program, visit <a href="https://www.scheller.gatech.edu/centers-initiatives/ile/excel/index.html">the official Excel page</a>.</p>
		</div>
	  </div>
	  
	  <div class="row featurette">
        <div class = "container">
			<h2 class="featurette-heading">Contact Us</h2>
			<p> Do you have any feedback or questions? Let us know.</p>
		</div>
	  </div>
	  
	  <div class="row featurette">
        <div class = "container">
			<div class="col-sm-4">
				<h3>Terry Blum</h3>
				<p>Institute for Entrepreneurship and Leadership Director</p>
				<a href="mailto:terry.blum@ile.gatech.edu">terry.blum@ile.gatech.edu</a>
			</div>
			<div class="col-sm-4">
				<h3>Rene Reese</h3>
				<p>Career Development Coordinator</p>
				<a href="mailto:rene.reese@ile.gatech.edu">rene.reese@ile.gatech.edu</a>
			</div>
			<div class="col-sm-4">
				<h3>Ken Surdin</h3>
				<p>Excel Program Director</p>
				<a href="mailto:ken.surdin@ile.gatech.edu">ken.surdin@ile.gatech.edu</a>
			</div>
		</div>
	  </div>
	
	
	</body>