<style>
	.img-circle {
		border-radius: 50%;
	}
	
	.col-img {
		width: 85%;
		height: auto;
	}
	
	.col-sm-6 > p{padding-right:70px;}
	.row{padding-top:20px;}
</style>

<body>
	<div class="col-sm-6">
		<h2 class="featurette-heading">About this website</h2>
		<p> This toolkit was created to help users with disabilities learn more about the job search process and find resources that can aid in career development.<br><br>It was made for students of Georgia Tech Excel, a certificate program for individuals with disabilities, but most of the information is relevant to all residents of Georgia. <br><br>To learn more about the program or applying, visit <a href="https://www.scheller.gatech.edu/centers-initiatives/ile/excel/index.html">the official Excel page</a>.</p>
		<img class="col-img" src="image/homepage.jpg">
	</div>

	<div class="col-sm-6">
		<h2 class="featurette-heading">About the Excel Team</h2>
		<div class = "container">
			<div class="row">
				<div class="col-sm-2">
					<img class="img-circle" src="image/ken.jpg" width="128" height="128">
				</div>
				<div class="col-sm-4">
					<h3>Ken Surdin</h3>
					<p>Excel Program Director</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2">
					<img class="img-circle" src="image/rene.png" width="128" height="128">
				</div>
				<div class="col-sm-4">
					<h3>Rene Reese</h3>
					<p>Career Development Coordinator</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2">
					<img class="img-circle" src="image/terry.png" width="128" height="128">
				</div>
				<div class="col-sm-4">
					<h3>Terry Blum</h3>
					<p>Institute for Entrepreneurship and Leadership Director</p>
				</div>
			</div>
		</div>
	</div>
</body>
	
