
      <div class="row featurette">
        <div class = "container">
			<h2 class="featurette-heading">About this website</h2>
			<p> This toolkit was created to help users with disabilities learn more about the job search process and find resources that can aid in career development. It was made for students of Georgia Tech Excel, a certificate program for individuals with disabilities, but most of the information is relevant to all residents of Georgia. To learn more about the program, visit <a href="https://www.scheller.gatech.edu/centers-initiatives/ile/excel/index.html">the official Excel page</a>.</p>
		</div>
	  </div>
	  
	  <div class="row featurette">
        <div class = "container">
			<h2 class="featurette-heading">Contact Us</h2>
			<p> Do you have any feedback or questions? Let us know.</p>
		</div>
	  </div>
	  
	  <div class="row featurette">
        <div class = "container">
			<div class="col-sm-4">
				<h3>Terry Blum</h3>
				<p>Institute for Entrepreneurship and Leadership Director</p>
				<a href="mailto:terry.blum@ile.gatech.edu">terry.blum@ile.gatech.edu</a>
			</div>
			<div class="col-sm-4">
				<h3>Rene Reese</h3>
				<p>Career Development Coordinator</p>
				<a href="mailto:rene.reese@ile.gatech.edu">rene.reese@ile.gatech.edu</a>
			</div>
			<div class="col-sm-4">
				<h3>Ken Surdin</h3>
				<p>Excel Program Director</p>
				<a href="mailto:ken.surdin@ile.gatech.edu">ken.surdin@ile.gatech.edu</a>
			</div>
		</div>
	  </div>
	
	
