
      <div class="row featurette">
        <div class = "container">
            <h2 class="featurette-heading">Where can I find help to start my own business?</h2>
            <p>This section contains information that will be helpful to people with disabiities that want to start their own busnesses.<br><br>Each of the websites listed in this section has a large amount of information. In the following list, you'll find a description of the services and resources that they offer. Clicking the title takes you to their website.</p>
        </div>
      </div>

      <hr class="featurette-divider">
   
      <div class="row featurette">
        <div class = "container">
            <h3><a href = "http://usbln.org">US Business Leadership Network</a></h3>
            <p>The US Business Leadership Network (USBLN) is a national non-profit that promotes disability inclusion in the workplace, supply chain, and marketplace.<br><br>The USBLN Disability Supplier Diversity Program is the nation's leading third party certification program for disability-owned businesses.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class = "container">
            <h3><a href = "http://sba.gov">US Small Business Administration</a></h3>
            <p>The US Small Business Administration helps Americans start, build, and grow businesses. They also have resources specifically for people with disabilities that want to start their own business.</p>
        </div>
      </div>

      <hr class="featurette-divider">

    <div class="row featurette">
        <div class = "container">
            <h3><a href = "http://askjan.org/entre/index.htm">Job Accommodations Network - JAN</a></h3>
            <p>The Job Accommodation Network (JAN) provides assistance, consulting, and mentoring services to individuals with disabilities.<br><br> In addition to their online “Information for Entrepreneurs” section, they will also help you on an individual basis.<br><br> Some of the help that they can provide includes: self-employment and small business development expertise, referrals to business planning, financing strategies, market research, e-commerce, independent contracting, and home-based business options.<br><br> JAN will send you a packet of information designed specifically for you and your business goals. They have consultants available who can provide you with ongoing supports and all of their services are free.</p>
        </div>
      </div>

      <hr class="featurette-divider">

    <div class="row featurette">
        <div class = "container">
            <h3><a href = "http://abilitiesfund.org">The Abilities Fund</a></h3>
            <p>Abilities Fund has a number of programs and services available to entrepreneurs with disabilities. Some of their services are open to any individual in the US with a disability and some services are available based upon where you live or other factors. Please check each program for specific eligibility guidelines.</p>
        </div>
      </div>

      <hr class="featurette-divider">

    <div class="row featurette">
        <div class = "container">
            <h3><a href = "http://disability.gov">Guide to Self-Employment - Disability.gov</a></h3>
            <p>Disability.gov has a Self-Employment section that provides numerous resources to help you start your own business. In addition, it has a “Guide to Self-Employment” to connect you to programs, services, government agencies and organizations that can help you become a small business owner.<br><br>Some of the topics include:<br>- Where Can I Get Advice on Starting a Business?<br>- Where Can I Find Information About Writing a Business Plan?<br>- Where Can I Get Financing to Start a Small Business?</p>
        </div>
      </div>