<div class = "jumbotron text-center">
<br>
<br>
<br>
<h2> Does the Federal government hire people with disabilities? </h2>
</div>

<br>

<p>
People with disabilities are able to apply for jobs with the
Federal Government through the traditional hiring process.
In addition, the Federal Government has a non-competitive
hiring process for people with disabilities called the Schedule A.
This section of the Toolkit contains information on the Schedule A. 
</p>

<hr class="featurette-divider">

<h2> Schedule A Hiring Process </h2>

<p class = "text-center">
People with disabilities can be appointed to Federal jobs through a non-competitive
process called the Schedule A. The Schedule A is a special hiring process for people
with disabilities.
<br>
<br>
You can apply using the Schedule A if you are a person with an intellectual disability,
a severe physical disability, or a psychiatric disability.
Being eligible for the Schedule A will help you in the hiring process, but it will not
guarantee you a Federal job. In order to be selected you will need to show that you
meet the qualifications of the specific job that you are applying for. (With or without
a reasonable accommodation)
<br>
<br>
Employees hired under the Schedule A are held to the same performance standards
as all other Federal employees.
<br>
<br>
Please review the information on the following pages for more detailed information
on the application process.
</p>


	<br>
	
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#Eval">
	        Step 1: Get your Schedule A documentation </a>
	      </h4>
	    </div>
	    <div id="Eval" class="panel-collapse collapse">
	      <div class="panel-body">
	      	To apply using Schedule A, you will need to submit documentation that proves you
have an intellectual disability, severe physical disability, or psychiatric disability. This is
called "Proof of Disability Documentation". This documentation shows that you are
eligible to apply using Schedule A because you have a disability. It’s best to have this
letter ready before you apply under Schedule A.
	      	<br>
	      	<br>
		  	You can request Proof of Disability Documentation from:
• Your doctor
• A licensed medical professional
• A licensed rehabilitation professional, such as SC Vocational Rehabilitation
• A federal or state agency that issues disability benefits, such as Social Security
		  <br>
		  <br>
		  The Proof of Disability Documentation needs to say that you are eligible to apply
using Schedule A. It does NOT need to include your specific disability, medical
history or need for accommodation. Sample “Schedule A Letters” can be found at
<a href = "http://www.dol.gov/"> www.dol.gov</a>		  
		  </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#Train">
	        Step 2: Apply for job openings using the Schedule A </a>
	      </h4>
	    </div>
	    <div id="Train" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<h3>Approach 1: Apply through USAJOBS</h3>
You can start by searching for a position and applying online through the USAJOBS website <a href = "http://www.usajobs.gov/"> www.usajobs.gov</a>

<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#step1">
	        Step 1: Prepare your resume</a>
	      </h4>
	    </div>
	    <div id="step1" class="panel-collapse collapse">
	      <div class="panel-body">
	      	To apply for a federal job, you need a resume. You can create a resume directly on the
			USAJOBS website using the "resume builder" feature. Or, you can upload an existing resume. 
		  </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#step2">
	        Step 2: Complete the documents for the job vacancy</a>
	      </h4>
	    </div>
	    <div id="step2" class="panel-collapse collapse">
	      <div class="panel-body">
				In addition to the resume, you may need to submit other things in order to apply for the job.
				The job announcement will tell you what to include in your application package (such as a
				writing sample, cover letter, or transcripts from high school or college).
				<br>
				<br>
				You may also need to complete an occupational questionnaire. This is a set multiple choice
				questions. This questionnaire helps the hiring agency decide if you have the required job skills
				and experience.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#step3">
	        	Step 3: Disability Documentation
	    	</a>
	      </h4>
	    </div>
	    <div id="step3" class="panel-collapse collapse">
	      <div class="panel-body">
	      	Upload your Proof of Disability Documentation for the Schedule A to your online application.
			</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#step4">
	        	Step 4: Submit your Application Package
	        </a>
	      </h4>
	    </div>
	    <div id="step4" class="panel-collapse collapse">
	      <div class="panel-body">
	      	Read the job announcement carefully! Make sure that you include all of the required documents
			and that you complete all required questionnaires.
			<br>
			<br>
			If you are missing any of the information that was asked for in the job announcement, then your
			application will be considered "incomplete" and it will be rejected.

	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#app">
	        	What happens after you submit your application?
	        </a>
	      </h4>
	    </div>
	    <div id="app" class="panel-collapse collapse">
	      <div class="panel-body">
	      	The agency will usually contact you about the status of your application. If you also applied on
			USAJOBS, then you will be able to check the status of your application on their website. If you haven’t
			heard from the agency after a reasonable amount of time then you should call the DPM, SPPC, or the
			HR Specialist that was listed on the job vacancy to follow-up on your application.

			<br>
			<br>
			If the agency is interested in interviewing you, someone from the agency will contact you to set up
			an interview. If you need an accommodation for the interview, you should let the DPM, the SPPC, or
			the HR Specialist listed on the job vacancy know as soon as the interview is scheduled.
			<br>
			<br>
			If the agency wants to hire you, you will be offered the position after you accept an offer of
			employment. If you think that you will need an accommodation to perform the job duties, you’ll
			want to let them know as soon as you accept the offer. You want to give the agency plenty of time
			to get your accommodations in place to ensure you will have what you need on your first day of work.

	      </div>
	    </div>
	  </div>
	</div>
	
<h3>Approach 2: Apply directly with the agency using the Schedule A process</h3>
Most agencies have a Disability Program Manager (DPM) or Selective Placement Program
Coordinator (SPPC) whose job is to help the agency recruit, hire, and accommodate people
with disabilities.
Contact the DPM or SPPC at the agency where you want to work and ask how to apply for the
job using the Schedule A hiring process for people with disabilities. They can work with you to
make sure your resume and application are considered through Schedule A.
Go to <a href= "http://www.opm.gov/"> www.opm.gov </a> to find a list of Selective Placement Program Coordinators (SPPC) in
each agency.
It’s best to apply for a position through the regular vacancy announcement on USAJOBS and
then follow-up with the SPPC/DPM.
Contacting the SPPC/DPM can take time and it’s important that you meet the application
deadline that’s listed in the job announcement.
</div>
</div>
</div>


<hr class="featurette-divider">

<h1 class = "text-center"> Get your resume added to the Recruitment and Referral Database</h1>

<br>
<br>

<p class="text-center">
The Federal government has a database of candidates with disabilities who are
eligible to apply for employment through the Schedule A.
<br>
<br>
Federal and private employers that are interested in hiring people with disabilities can
search this database and find employees to fill their job openings.
After you complete the Schedule A you can choose to add your resume to this
database of job candidates.
<br>
<br>
If you are interested in being added to the database you can submit your
resume and disability documentation to Bender Consulting Services via e-mail
at resume@benderconsult.com or through their website, <a href = "http://benderconsult.com/"> www.benderconsult.com</a>
</p>
