
<!-- Tiles -->

  <div class = "card-group">
    <div class="card text-center" style="width: 15rem;">
      <img class="card-img" src="image/placeholder.png" alt="Card image cap"> <!-- Needs to be 225x160 or around that size-->
      <div class="card-block">
        <h3 class="card-title">Looking for Local Resources?</h3>
        <br>
        <a href="#/local" ng-click = "localButton()" class="btn btn-primary">Click Here</a>
      </div>
    </div>
    <div class="card text-center" style="width: 15rem;">
      <img class="card-img" src="image/placeholder.png" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Looking for Federal Hiring Opportunities?</h3>
        <br>
        <a href="#/fed_hire" ng-click = "fedButton()" class="btn btn-primary">Click Here</a>
      </div>
    </div>
    <div class="card text-center" style="width: 15rem;">
      <img class="card-img" src="image/placeholder.png" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Want to Start your own Business?</h3>
        <br>
        <a href="#/business" ng-click = "businessButton()" class="btn btn-primary">Click Here</a>
      </div>
    </div>
    <div class="card text-center" style="width: 15rem;">
      <img class="card-img" src="image/placeholder.png" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Do you receive SSI,SSDI, or Medicaid? </h3>
        <br>
        <a href="#/benefits" ng-click = "benefitsButton()"class="btn btn-primary">Yes</a>
        <a href="#/jobsearch" ng-click = "jobSearchButton()" class="btn btn-primary">No</a>
      </div>
    </div>
  </div>




  <!--
  For image overlay if we decide to use this instead

  <img class="card-img" src="..." alt="Card image">
  <div class="card-img-overlay">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div> 
  -->


     
      <div class="row featurette">
            <h2 class="featurette-heading text-center">Excel Website <span class="text-muted"></span></h2>
            <p class="lead text-center"> 
              <br>
              This Toolkit is designed to help graduates of post-secondary education programs for students with developmental and intellectual disabilities connect to resources and agencies that will help them secure employment opportunities in the Atlanta, Georgia area as well as throughout the state of Georgia. The resources in this Toolkit will also be useful to other students and adults with disabilities that are looking for a job.
              <br>
              <br>
              Toolkit contains local, state and national resources that will help you link to a job, decide what type of work is a good fit for you, complete job applications, make or update your resume, start your own business, apply for jobs; including employment with the federal government.
            </p>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <h2 class="featurette-heading text-center">Keep Track with our Twitter and Facebook <span class="text-muted"></span></h2>
        <br>
        <div class = "container">
          <div class="col-md-5">
            <a class="twitter-timeline" 
               data-height="400"
               data-chrome="nofooter"
               data-link-color="#820bbb"
               data-border-color="#000000" 
               href="https://twitter.com/GT_Excel">
               Tweets by GT Excel
             </a> 
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-5" layout = "column" layout-align="right center">
            <div class="fb-page" data-href="https://www.facebook.com/GeorgiaTechEXCEL" data-width = "400" data-height = "500" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/GeorgiaTechEXCEL" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GeorgiaTechEXCEL">Georgia Tech Excel</a></blockquote></div>
          </div>
       </div>
     </div>


    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>