<!DOCTYPE html>
<html ng-app = "gtexcelApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GT Excel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-static-top.css" rel="stylesheet">

    <!-- Twitter Feed Styling -->
    <link href="css/twitter.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="GTExcelController">

    <!-- Static navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="nav" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ng-click = "homeButton()">Excel</a>
          </div>

        
        <!-- Collapse Part-->
            <div id="navbar" class="navbar-collapse nav">
              <ul class="nav navbar-nav">
                <li class = "job"><a href="#/jobsearch">Looking for Jobs</a></li>
                <li class = "local"><a href="#/local">Local Resources</a></li>
                <li class = "benefits"><a href="#/benefits">Government Benefits</a></li>
                <li class = "fed"><a href="#/fed_hire">Federal Hiring</a></li>
                <li class = "busi"><a href="#/business">Starting a Business</a></li>
                <li class = "about"><a href="#/about">About Us</a></li>
          
              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Job Resources</a></li>
                  <li><a href="#">Contact</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Location</li>
                  <li><a href="#">Contact Info</a></li>
                  <li><a href="#">These are just placeholders for now</a></li>
                </ul>
              </li>-->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        
    <div class = "container">
      <div ng-view></div>
    </div>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- Angular scripts -->
    <script src="js/angular.min.js"></script> <!-- Angular Script -->
    <script src="js/app.js"></script> <!-- Controller and logic -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>

  </body>
</html>
