
<style>
	.diagram{
		text-align: center;
	}

	.diagram-box {
		border: 1px solid #ccc;
		border-radius: 25px;
		padding: 10px 10px 10px 10px;
		background-color: white;
	}

	.row {
		padding: 10px;
	}

	.op1{background-color:#ffffcc;}
	.op2{background-color: #ffcccc;}
	.op3{background-color:#b3ffff;}

	.parent .diagram-box {
		width: 280px;
		height: 190px;
		margin-left: 50px;
	}

	.child .diagram-box {
		width: 280px;
		height: 70px;
	}

	.child .diagram-box:hover {
		border: 5px solid #ccc;
	}

	.child .op1 {
		margin-top: 50px;
	}

	.child .op2-group{
		margin-top: 35px;
	}

	.child .op3{
		margin-top: 35px;
	}

	p {
		padding-top: 15px;
		color: black;
	}

	h2 {font-size: 22px}
	h3 {font-size: 18px;
		margin: 5px, 0px, 0px, 0px;}
</style>

<body  ng-app = "gtexcelApp">
	<div class="diagram" ng-controller="JobSearchController" ng-init="option = 0">
		<h2 class="featurette-heading">How do you want to find a job?</h2>
		<hr class="featurette-divider">
		<div class = "col-sm-4">
			<div class = "parent">
				<div class = "row">
					<div class = "diagram-box op1">
						<h2>I want someone to help me look for a job.</h2>
						<p>I want to know what agencies can help me.</p>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box op2">
						<h2>I want to do my own job search and apply for jobs online.</h2>
						<p>I want to know what websites to look for jobs on.</p>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box op3">
						<h2>I want to start my own business.</h2>
						<p>I want to find local and online resources and people to help me start a business</p>
					</div>
				</div>
			</div>
		</div>
		<div class = "col-sm-4">
			<div class = "child">
				<div class = "row">
					<div class = "diagram-box op1">
						<a href="#/local"><p>Local Career Resources</p></a>
					</div>
				</div>
				<div class = "op2-group">
					<div class = "row">
						<div class = "diagram-box op2" ng-click=toggle(1)>
							<p>Resume and Interview Preparation</p>
						</div>
					</div>
					<div class = "row">
						<div class = "diagram-box op2" ng-click=toggle(2)>
							<p>Job Searching Websites</p>
						</div>
					</div>
					<div class = "row">
						<div class = "diagram-box op2" ng-click=toggle(3)>
							<p>Online Vocational Guidance</p>
						</div>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box op3">
						<a href="#/business"><p>Starting a Business</p></a>
					</div>
				</div>
			</div>
		</div>
		<div class = "col-sm-4" ng-show="option">
			<div ng-show="option == 1" class="ng-hide">
				<h3>Employment Tips and Tools</h3>
				<!--Only added some from diagram and book pg. 47-->
				<p>There is information on assistive technology, how to request job
				accommodations, interviewing techniques, resume writing and
				communication skills.</p>
				<div class = "row"> 
					<div class = "diagram-box">
						<a href="http://careeronestop.org/"><h3>Career One-Stop</h3></a>
						<p>This website is a resource for job-seekers, including those with disabilities. You can search
						for jobs, explore different careers, get resume writing tips, job interview strategies, etc.</p>
					</div>
				</div>
				<div class = "row"> 
					<div class = "diagram-box">
						<a href="http://askjan.org/"><h3>Job Accommodations Network (JAN)</h3></a>
						<p>The Job Accommodation Network (JAN) is the leading source of free, expert, and
						confidential guidance on workplace accommodations and disability employment.</p>
						<p>It has a Searchable Online Accommodation Resource (SOAR) that lists types of
						accommodations that might be helpful for specific disabilities.</p>
						<p>It also has information on finding a job and starting your own business. </p>
					</div>
				</div>
				
				<div class = "row">
					<div class = "diagram-box">
						<a href="http://www.disability.gov/"><h3>Disability.gov</h3></a>
						<p>Disability.gov has a list of employment resources including a “Guide to Employment”.
						It also has information on benefits, education, health, housing, technology, and
						transportation for people with disabilities.</p>
					</div>
				</div>
				
				<div class = "row">
					<div class = "diagram-box">
						<a href="http://www.dol.gov/odep"><h3>ODEP</h3></a>
						<p>The Office of Disability Employment Policy (ODEP) provides national leadership on
						disability employment policy by developing and influencing the use of evidence-based
						disability employment policies and practices, building collaborative partnerships, and
						delivering authoritative and credible data on employment of people with disabilities.</p>
					</div>
				</div>
			</div>
		
			<div ng-show="option == 2" class="ng-hide">
				<h3>Job Searching Websites</h3>
				<!--Only added the first 5 from page 28-->
				<p>Many of the job sites can only be used by people with disabilities.
				Some sites will require you to register on their website before you can search
				their openings. All of the job search sites are free and they won’t charge you a fee to register.</p>
				<div class = "row"> 
					<div class = "diagram-box">
						<a href="http://www.gettinghired.com/"><h3>Getting Hired</h3></a>
						<p>GettingHired was launched in 2008 with the sole purpose of helping people with
						disabilities find a job. You will definitely find local job openings on this site. You can
						also search their job openings without having to complete their registration form.
						Registration is free.</p>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box">
						<a href="http://www.thinkbeyondthelabel.com/"><h3>Think Beyond the Label</h3></a>
						<p>Think Beyond the Label connects job seekers with businesses who are actively recruiting
						job candidates with disabilities. There are a lot of local job openings listed on this site.
						Also, they don’t require you to register on their site in order to search their job openings.
						Registration is free.</p>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box">
						<a href="http://abilityjobs.com/"><h3>ABILITY Jobs (Formerly JobAccess)</h3></a>
						<p>ABILITY Jobs is the largest job board for job seekers with disabilities. ABILITY Jobs has a
						long history of bringing employers and job seekers with disabilities together. They
						require you to register with them before you can search their job openings.
						Registration is free.</p>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box">
						<a href="http://www.cosdonline.org/"><h3>Career Opportunities to Students with Disabilities - COSD Career Gateway</h3></a>
						<p>COSD is only for college students with disabilities.
						COSD’s Career Gateway lets college students with disabilities search for job openings.
						Their website offers webinars for both employers and students with disabilities.
						COSD also holds conferences each year for employers and students with disabilities.
						Registration is free.</p>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box">
						<a hrefhttp://disability.jobs/"><h3>Disability Jobs</h3></a>
						<p>The job openings on this site are from companies that want to hire of people with
						disabilities. This is a my.jobs microsite and it’s sponsored by the Society for Human
						Resource Management (SHRM). You can search job openings without registering.
						Registration is free.</p>
					</div>
				</div>
			</div>
			<div ng-show="option == 3" class="ng-hide">
				<h3>Online Vocational Guidance</h3>
				<!--Only added the first 5 from page 28-->
				<p> You will find interest inventories and career
				assessments to help you decide what type of work you’d like to do.</p>
				<div class = "row">
					<div class = "diagram-box">
						<a href="http://www.onetonline.org/"><h3>O*NET</h3></a>
						<p>The Occupational Information Network (O*NET) is the nation's primary source of job
						information.</p>
						<p>O*NET On-Line is an interactive application for exploring and searching different jobs
						and career areas.</p>
						<p>The O*NET database has information on jobs, such as wage rate, job description,
						physical and educational requirements, etc. The database is available at no cost.</p>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box">
						<a href="http://www.mynextmove.org/"><h3>My Next Move</h3></a>
						<p>My Next Move can help you find out what your interests are and how they relate to
						the world of work. You’ll find job and career options that are a good match for your
						interests and work experience. You’ll also have an opportunity to explore and search
						different career fields. My Next Move is part of O*NET.</p>
					</div>
				</div>
				<div class = "row">
					<div class = "diagram-box">
						<a href="http://adata.org/"><h3>ADA National Network (formerly DBTAC)</h3></a>
						<p>The ADA National Network provides information, guidance and training on the
						Americans with Disabilities Act (ADA). This is not an enforcement or regulatory agency,
						but a helpful resource supporting the ADA’s mission to “make it possible for everyone
						with a disability to live a life of freedom and equality.”</p>
						<p>(Formerly known as DBTAC, the Disability and Business Technical Assistance Center.)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>