
<div class = "jumbotron text-center"> 
	<br>
	<br>
	<br>
  	<h1> Local Resources </h1>
    <p>
  	   This section contains information on local agencies where you can meet with someone and get help in person with your job search. It doesn’t matter what type of work you’d like to do, each agency can help you with your job search, and help you decide what type of work might be a good match for you.
    </p>
</div>

  <hr class="featurette-divider">

  <h1> Bobby Dodd Institute </h1>
  <p>
     <b>Bobby Dodd Institute (BDI)</b> helps people with disabilities and disadvantages find jobs. BDI offers career assessments to help you find a career path that you will enjoy. BDI also provides job training and job search assistance. They help you prepare resumes and practice for interviews. They provide support and guidance during each step of the employment process.
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Bobby">
    Click for more details
  </button>

  <hr class="featurette-divider">

  <h1> <a href = "www.nobisworks.org">NOBIS Works</a> </h1> <!-- www.nobisworks.org-->
  <p>
     <b>Nobis Works</b> helps people with disabilities find work that they will enjoy. Nobis Works offers job readiness training, vocational training, on-the-job training, and vocational assessments.
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Nobis">
    Click for more details
  </button>

   <hr class="featurette-divider">

  <h1> <a href = "https://gvs.georgia.gov">Georgia Vocational Rehabilitation Agency</a> (GVRA) </h1><!--https://gvs.georgia.gov -->
  <p>
     <b>Georgia Vocational Rehabilitation Agency (GVRA)</b> helps people with disabilities find and keep jobs. They offer job search assistance, vocational training, and vocational assessments.
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#GVRA">
    Click for more details
  </button>

  <hr class="featurette-divider">

  <h1> <a href = "http://www.communityconnectsga.org">Community Connects</a> </h1><!--http://www.communityconnectsga.org-->
  <p>
     <b>Community Connects </b> offers vocational training, careers assessments, school-to-work programs, job readiness, GED preparations, job search, and job placement
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Common">
    Click for more details
  </button>

  <hr class="featurette-divider">

  <h1> <a href = "http://www.projectsearch.us">Project SEARCH</a> </h1><!--http://www.projectsearch.us-->
  <p>
     <b>Project SEARCH </b> is a year-long school-to-work program for young people with disabilities. The program prepares you to work in the healthcare industry. Project SEARCH offers classroom instruction, career exploration, internships, and job placement.
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Search">
    Click for more details
  </button>

  <hr class="featurette-divider">

  <h1> <a href = "http://goodwillng.org">Goodwill of Georgia</a> </h1><!--http://goodwillng.org-->
  <p>
     <b>Goodwill </b> helps people with disabilities, limited education, or limited job skills find jobs. Goodwill offers job search resources, helps you create a resume and cover letter, provides access to employment opportunities, and provides job skill training.
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Goodwill">
    Click for more details
  </button>

  <hr class="featurette-divider">

  <h1> <a href = "http://briggsassociates.org">Briggs & Associates</a> </h1> <!-- http://briggsassociates.org-->
  <p>
     <b>Briggs & Associates</b> helps people find and maintain jobs. They offer a career development program to help you find a job. The also offer continued support after you get a job.
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BA">
    Click for more details
  </button>

  <hr class="featurette-divider">

  <h1> <a href = "www.disabilityservicecenter.com">Disability Service</a> Center</h1> <!--www.disabilityservicecenter.com-->
  <p>
     <b>Disability Service Center (DSC) </b>offers services to help people with disabilities live independent, meaningful lives. DSC offers workshops and seminars to prepare you for employment and independent living.
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DSC">
    Click for more details
  </button>



  <!-- Modal -->
  <div class="modal fade" id="Bobby" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>Who can use their services?</h1>
          <br>
          <p>
            You can use BDI’s services if you have a physical and/or developmental disability. 
            <br>
            You can also use their services if you have a disability due to chronic illness such as diabetes, arthritis, or mental illness.
          </p>
          <hr class="featurette-divider">
          <h1> What services do they offer? </h1>
          <br>
          <p>
            BDI provides evaluations and assessments to help you identify your strengths and your barriers to employment. You can explore your 
            interests, strengths, and aptitudes. You can also review your previous work experience. These evaluations help you set career goals and find a path to employment. 
            <br>
            <br>
            BDI also provides career counseling case management. Career counselors support and guide you during job training and throughout the job 
            search.
          </p>
          <hr class="featurette-divider">
          <p>
            <h1>Specialized Job Training</h1>
            <br>
            BDI offers three Career Academies. Career Academies are specialized job training programs for people with disabilities. These programs focus 
            on teaching the skills that you need to be successful in a specific job. The Career Academies offer hands-on training programs and classroom 
            based certifications.
          </p>
          <hr class="featurette-divider">
          <p>
            <h1>BDI offers three Career Academies</h1>
            <br>
            1. <b>Logistics and Warehousing</b> :
            This Career Academy provides specialized job training in logistics and warehousing. You can obtain a Certified Logistics Technician 
            certification. You can also get hands-on job training at partner companies.
            <br>
            <br>
            2. <b>Office Essentials</b> :
            This Career Academy helps you learn skills for an office environment. You learn customer service skills and computer skills. You learn how 
            to use the internet, Microsoft Windows, and Microsoft Word, Excel, Access, Outlook, and PowerPoint. This Career Academy is a five-week 
            program.
            <br>
            <br>
            3. <b>Food Service </b> :
            This career Academy provides hands-on training in the food service industry. You have the opportunity to work at McKenney’s Café. McKenney’s 
            Café is a sandwich shop on the campus of McKenney’s Inc.
            <br>
            <br>
            In the future, BDI will offer more Career Academies. They will have CareerAcademies that prepare you for careers in customer service, call
            center operations, janitorial services, and landscaping. 
            Job Connections Services
          </p>
          <hr class="featurette-divider">
          <p>
            <h1>BDI Programs</h1>
            <br>
            <b>The Job Readiness and Job Connections Program</b> prepares you to apply for a job. This program helps you create a resume and fill out a job application. You can also participate in mock interviews and learn important job-search skills. Employment specialists help you find job opportunities.
            <br>
            <br>
            <b>The Job Coaching Program</b> is a program for newly-hired employees. When you get a job, a job coach will work with you during your first weeks on the job to help you adjust to your new work environment.
            <br>
            <br>
            BDI also offers internships and on-the-job training. Internships can help you and your prospective employer work together before you are hired full-time. BDI pays you during the internship.
          </p>
          <hr class="featurette-divider">
          <p>
            <h1> Location and Contacts </h1>
            <br>
            <b>Robert J. Freeman Campus</b>
            <br>
            2120 Marietta Blvd NW
            <br>
            Atlanta, GA 30318
            <br>
            Phone: 678-365-0071
            <br>
            Fax: 678-365-0098
            <br>
            TTD: 678-365-0099
          </p>
          <p>
            <b>Jonesboro Campus:</b>
            <br>
            Jonesboro Campus:
            <br>
            221 Stockbridge Road
            <br>
            Jonesboro, GA 30236
            <br>
            Phone:770-473-2840 
            <br>
            Fax: 770-477-8502 
            <br>
            TDD: 770-473-2849
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Nobis" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>How much does it cost?</h1>
          <br>
          <p>
            There may be a cost. Call to confirm
          </p>
          <hr class="featurette-divider">
          <h1> What services do they offer? </h1>
          <br>
          <p>
            <b>Vocational Assessment</b>
            <br>
            <br>
            The vocational assessment program helps you figure out what you are interested in and what you are good at. This program offers the following assessments:
            <br>
            - The TABE (Tests Adult Basic Education)
            <br>
            - Personal Assessments- Learning Style, Personality, Work Values
            <br>
            - Transition Inventories- To Work, College Survival, Job Survival
            <br>
            - Mail Sorting, Physical Exertion, Color Coding and Production
            <br>
            - The WRAT (Wide Range Achievement Test)
            <br>
            - The RAI (Reading & Arithmetic)
            <br>
            - The EAS (Employee Aptitude Survey)
            <br>
            - SDS (Career Decision Making)
            <br>
            <br>
            <b>Work Evaluation</b>
            <br>
            <br>
            In the work evaluation program, you perform actual work on a variety of tasks. You are evaluated on you work stamina, vocational interests and aptitude, your ability to get along with others, and your motivation to work.
            <br>
            After you are evaluated, you meet with a counselor and a program manager. These people help you choose other programs that will help you become a better worker.
            <br>
            <br>
            <b>Employment Services</b>
            <br>
            <br>
            In the employment services program, you do real work at the Nobis Works’ Tommy Nobis Center, or at a company like the WellStar warehouse, Kroger, or Owens & Minor. You learn proper workplace behavior and social skills. You receive support and on-the-job training from a job coach.
            <br>
            The employment services program also provides the following services:
            <br>
            - Classroom instruction
            <br>
            - GED preparation
            <br>
            - Job readiness
            <br>
            - Work practices
            <br>
            - Mobility training (use of public transit)
            <br>
            <br>

            <b>Supported Employment</b>
            <br>
            <br>
            In the supported employment program, Nobis Works provides training and support to help you find and keep a job at a community business. Nobis Works provides the following services:
            <br>
            <br>
            - Job coaching<br>
            - Job sampling<br>
            - Assessment<br>
            - Job readiness<br>
            - Job development<br>
            - Intensive job site training<br>
            - Counseling<br>
            - Referral information<br>
            - Family support<br>
            - Development of natural supports in the workplace<br><br>
            
            <b>Skills Training</b>
            <br>
            <br>
            Nobis Works offers three different classes to prepare you to work in an office environment. Each class lasts eight weeks.
            <br>
            <br>
            The classes are:<br>
            1. Introduction to Computers<br>
            2. Beginning Office Technology (BOT)<br>
            3. Customer Service Representative/Call Center Training<br><br>
          </p>
          <hr class="featurette-divider">
          <h1> How can I get started using their services?</h1>
          <br>
          <p>
            To schedule an appointment, call the Intake Coordinator at 770-427-9000 or email becky.ketts@nobisworks.org
          </p>
          <hr class="featurette-divider">
          <h1> Locations and Contact Information</h1>
          <br>
          <p>
            1480 Bells Ferry Road<br>
            Marietta, Georgia 30066-6014 <br>
            Phone : 770-427-9000<br>
            Fax:770-499-9191<br>
            TTY 770-427-9000<br>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="GVRA" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>How much does it cost?</h1>
          <p> There may be a cost. Call to confirm.</p>
          <hr class="featurette-divider">

          <h1>What services do they offer?</h1>
          <p>
          <b>GVRA offers the following services:</b>
          <br>
            - Vocational assessment<br>
            - Vocational counseling and guidance<br>
            - Physical and mental restoration services<br>
            - Vocational training<br>
            - School-to-work transition<br>
            - Rehabilitation technology<br>
            - Job search and job placement<br>
            - Referral to other agencies for needed services<br>
          </p>

          <hr class="featurette-divider">

          <h1>How can I get started using their services?</h1>
          <p>
            Visit <a href = "http://gvs.georgia.gov/contact-us">http://gvs.georgia.gov/contact-us</a> to get started with GVRA.
          </p>

          <hr class="featurette-divider">

          <h1>Locations and Contact Information</h1>
          <p>
            ATLANTA Unit, Counties Served: Central Fulton, North Fulton<br>
            1718 Peachtree Street NW, Suite 376-S, Atlanta 30309 <br>
            Phone: (404) 206-6000 <br>
            Fax: (404) 206-6011 <br>
            <br><br>
            GVRA has 40 locations in the state of Georgia. Visit https://gvs.georgia.gov/text-only-location-list to find other locations.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Common" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>How much does it cost?</h1>
          <p> There may be a cost. Call to confirm.</p>
          <hr class="featurette-divider">

          <h1>What services do they offer?</h1>
          <br>
          <p>
          <b>Job Readiness Training</b>
          <br>
          Community Connects offers the following job readiness services:
          <br><br>
            - Personal/Social Adjustment Training<br>
            - Work Adjustment Training<br>
            - Job Search Assistance<br>
            - Job Development Training<br>
            - Orientation and Mobility Training<br>
            - Work Literacy<br>
            - Vocational Evaluations<br>
            - Client Staffing<br>
          </p>
          <br>
          <p>
          <b>Employment and Skills Training</b>
          <br><br>
          Community Connects offers the following employment and skills training services:
          <br><br>
            - Job Sampling<br>
            - Job Coaching<br>
            - Client Performance Evaluation Reports<br>
            - Case Notes<br>
          </p>
          <br>
          <p>
          <b>Job Training</b>
          <br><br>
          Community Connects provides job training in the following areas:
          <br>
            - Floor Technician<br>
            - Hosplitality Fundementals<br>
            - Computer and Office Fundementals<br>
            - Security Guard Training<br>
            - Childcare Assistance<br>
            - Healthcare Treansporter<br>
          </p>
          <br>
          <b>Job Placement</b>
          <br><br>
          Community Connects can place you in a job and provide you with the following services:
          <br>
            - Job Teaching/Coaching<br>
          </p>

          <hr class="featurette-divider">

          <h1>How can I get started using their services?</h1>
          <p>
            Visit <a href = "http://www.communityconnectsga.org/home.html">http://www.communityconnectsga.org/home.html</a> and complete the form at the bottom of the page. Or call the office at 404-377-6630.
          </p>

          <hr class="featurette-divider">

          <h1>Locations and Contact Information</h1>
          <p>
            750 Commerce Drive Suite 401 Decatur, GA 30030<br>
            Phone: 404-377-6630 <br>
            denise.taylor@communityconnectsga.org <br>
            <br>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Search" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>How much does it cost?</h1>
          <p> There may be a cost. Contact susie.rutkowski@cchmc.org to confirm.</p>
          <hr class="featurette-divider">

          <h1>What services do they offer?</h1>
          <p>
            <b>Orientation</b><br><br>

            When you begin the program, you will spend your first few weeks working on the following things:<br><br>

            * New employee orientation<br>
            * Hands-on skill assessment<br>
            * Familiarization with the business environment<br>
            * Career plan development<br><br>

            <b>Employment Skills Training</b><br><br>

            You will work on the following employment skills:<br><br>

            * Team building<br>
            * Getting around the workplace<br>
            * Workplace safety<br>
            * Technology<br>
            * Social skills<br>
            * Communication<br>
            * Presentation skills<br>
            * Interviewing skills<br>
            * Money management<br>
            * Health and wellness<br>
            * Job search skills<br>
            * Keep a job skills<br><br>

            <b>Internships/Worksite Rotations</b><br><br>

            You will complete three internships. These internships are similar to clinical rotations because they are unpaid. You will work with your 
            <br>teachers, job coaches, and business liaisons to find worksites that fit your skills.<br><br>

            <b>Job Placement</b><br><br>

            After you have completed three internships, your vocational rehabilitation counselor helps to place you in a job that fits your <br>experiences, strengths, and skills.<br><br>

            <b>Career Portfolio</b><br><br>

            After you complete the program, you will receive a career portfolio containing the following resources:<br><br>

            * A resume<br>
            * Letters of recommendation<br>
            * A competency profile<br>
            * Any awards or special recognitions received during the program<br>
          </p>

          <hr class="featurette-divider">

          <h1>How can I get started using their services?</h1>
          <p>
            Visit <a href = "http://gvs.georgia.gov/contact-us">http://gvs.georgia.gov/contact-us</a> to get started with GVRA.
          </p>

          <hr class="featurette-divider">

          <h1>Locations and Contact Information</h1>
          <p>
            <b>Atlanta Locations:</b><br>
            Emory Midtown Hospital/Emory Healthcare <br>
            Grady Health System <br>
            North Fulton Hospital/Children’s Healthcare of Atlanta <br>
            <br><br>
            <b>Georgia Contact Person:</b><br>
            Susie Rutkowski<br>
            susie.rutkowski@cchmc.org<br><br>

            Project SEARCH has 21 locations in the state of Georgia. Visit <a href = "http://www.projectsearch.us/GetINVOLVED/FindaProgram.aspx"> 
            http://www.projectsearch.us/GetINVOLVED/FindaProgram.aspx</a>to view all locations.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Goodwill" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>How much does it cost?</h1>
          <p> The resources at Goodwill are free.</p>
          <hr class="featurette-divider">

          <h1>What services do they offer?</h1>
          <br>
          <p>
            <b>Career Centers</b><br><br>

            Goodwill has career centers with resources to help you find a job. Resources include:<br><br>

            - Job postings to help you find employment opportunities<br>
            - Computers<br>
            - Telephones<br>
            - Resource library<br>
            - Interview tips<br>
            - Career coaching<br><br>

            <b>Workforce Development Program</b><br><br>

            The Workforce Development Program helps you prepare for a job. Services include:<br><br>

            - Evaluation of work-related skills<br>
            - Evaluation of work experience<br>
            - Training at Goodwill stores<br>
            - Training at community internship sites<br>
            - Vocational evaluations<br>
            - Job readiness training<br>
            - Job placement<br>
            - Retention services<br><br>

            <b>Vocational Evaluation</b><br><br>

            The vocational evaluation helps you identify your hopes, goals, and interests. This evaluation helps you find a career path.<br><br>

            <b>Work Evaluation</b><br><br>

            Goodwill offers a work evaluation program to assess your job skills. You are evaluated on attendance, punctuality, work quality and <br>quantity, supervisor relations, co-worker relations, stamina, conformation to rules, communication, decision-making skills, and initiative.<br><br>

            <b>Community-Based Work Adjustment Training</b><br><br>

            This program helps you adjust to a new job. Services include:<br><br>

            - Orientation to workplace expectations<br>
            - Maintaining positive attitudes and behaviors<br>
            - Building a successful resume and practicing for interviews<br>
            - Providing work experience and opportunities to explore employment options<br>
            - Information about job retention and career advancement<br><br>

            <b>Certification Programs</b><br><br>

            Goodwill offers the following certification programs:<br><br>

            - Apartment/Building Maintenance Technician<br>
            - Career College Catalyst (C3)<br>
            - Floor Installation Training Program<br>
            - Floor Technician/Custodial Certification<br>
            - Forklift Training<br>
            - Highway Construction Training<br>
            - Welding<br>
            - Women in Non-Traditional Occupations<br>
          </p>

          <hr class="featurette-divider">

          <h1>How can I get started using their services?</h1><br><br>
          <p>
            To begin using Goodwill’s services, you can<br>
            1. Visit a Goodwill Career Center <br>
            2. Go to <a href = "https://www.careerconnector.org">https://www.careerconnector.org</a> for job search resources<br>
            3. Email careerservices@ging.org<br>
          </p>

          <hr class="featurette-divider">

          <h1>Locations and Contact Information</h1>
          <p>
            Goodwill has many locations in North Georgia. Visit <a href = "http://goodwillng.org/locations">http://goodwillng.org/locations</a> to find a location near you.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="BA" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>How much does it cost?</h1>
          <p> There may be a cost. Call to confirm.</p>
          <hr class="featurette-divider">

          <h1>What services do they offer?</h1>
          <br>
          <p>
            Briggs & Associates offers a career development program to help you find a job you will enjoy. The program has four steps:<br><br>

            1. Assessing your career goals, interests, and experiences<br>
            2. Creating a career plan that fits with your strengths<br>
            3. Searching for jobs<br>
            4. Helping you with interviews and job placement<br><br>

            After you find a job, the program provides support to<br><br>

            - Make sure you receive proper training<br>
            - Help you supervisors and co-workers understand your abilities<br>
            - Help you and your supervisor communicate<br>
            - Advise your family, friends, and co-workers<br>
          </p>

          <hr class="featurette-divider">

          <h1>How can I get started using their services?</h1>
          <p>
            To get started with Briggs & Associates, call the office at 770-993-4559, or email briggscentral@briggsassociates.org
          </p>

          <hr class="featurette-divider">

          <h1>Locations and Contact Information</h1>
          <p>
            2300 Holcomb Bridge Road<br>
            Suite 103 #366<br>
            Roswell, GA 30076<br>
            Phone: 770-933-4559 <br>
            briggscentral@briggsassociates.org <br>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="DSC" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>How much does it cost?</h1>
          <p> There may be a cost. Call to confirm.</p>
          <hr class="featurette-divider">

          <h1>What services do they offer?</h1>
          <br>
          <p>
            <b>DSC offers the following programs:</b><br>
            - Braille<br>
            - American Sign Language<br>
            - Disability Etiqutte<br>
            - Resume Writing<br>
            - Interview Skills<br>
            - Job Training<br>
            - Life Skills Training<br>
            - Computer Skills<br>
            - Reassurance Call Line<br>
            - Home Modifications 101<br>
            - Information and Referrals<br>
            - Advocacy Services<br>
            - Support Groups<br>
            - Transition Programs<br>
            - Assistive Technologies<br>
          </p>

          <hr class="featurette-divider">

          <h1>How can I get started using their services?</h1>
          <p>
            To start using DSC’s services, call 706-322-2203, or email disabilityservicecenter@gmail.com.
          </p>

          <hr class="featurette-divider">

          <h1>Locations and Contact Information</h1>
          <p>
            233 12th Street<br>
            Suite 743<br>
            Columbus, GA 31901<br>
            Phone: 706-322-2202 <br>
            disabilityservicecenter@gmail.com <br>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

