<style>
	.top-buffer { margin-top:20px;}
</style>

	<div class = "jumbotron text-center"> 
		<br>
		<br>
		<br>
	  	<h1> Bobby Dodd Institute </h1>
	    <p>
	  	   <b>Bobby Dodd Institute (BDI)</b> helps people with disabilities and disadvantages find jobs. BDI offers career assessments to help you find a career path that you will enjoy. BDI also provides job training and job search assistance. They help you prepare resumes and practice for interviews. They provide support and guidance during each step of the employment process.
	    </p>
	</div>

	<hr class="featurette-divider">

	<h1 class="featurette-heading text-center">Who can use their services?</h1>
	<br>
	<p class = "text-center">
		You can use BDI’s services if you have a physical and/or developmental disability. 
		<br>
		You can also use their services if you have a disability due to chronic illness such as diabetes, arthritis, or mental illness.
	</p>

	<hr class="featurette-divider">

	<h1 class = "text-center"> What services do they offer? </h1>
	<br>
	
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#Eval">
	        Evaluation and Career Planning</a>
	      </h4>
	    </div>
	    <div id="Eval" class="panel-collapse collapse">
	      <div class="panel-body">
	      	BDI provides evaluations and assessments to help you identify your strengths and your barriers to employment. You can explore your interests, strengths, and aptitudes. You can also review your previous work experience. These evaluations help you set career goals and find a path to employment. 
	      	<br>
	      	<br>
		  	BDI also provides career counseling case management. Career counselors support and guide you during job training and throughout the job search.
		  </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#Train">
	        Specialized Job Training</a>
	      </h4>
	    </div>
	    <div id="Train" class="panel-collapse collapse">
	      <div class="panel-body">
	      	BDI offers three Career Academies. Career Academies are specialized job training programs for people with disabilities. These programs focus on teaching the skills that you need to be successful in a specific job. The Career Academies offer hands-on training programs and classroom-based certifications.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#Academy">
	        	Collapsible Group 3
	    	</a>
	      </h4>
	    </div>
	    <div id="Academy" class="panel-collapse collapse">
	      <div class="panel-body">
	      	1. <b>Logistics and Warehousing</b> :
			This Career Academy provides specialized job training in logistics and warehousing. You can obtain a Certified Logistics Technician certification. You can also get hands-on job training at partner companies.
			<br>
			<br>
			2. <b>Office Essentials</b> :
			This Career Academy helps you learn skills for an office environment. You learn customer service skills and computer skills. You learn how to use the internet, Microsoft Windows, and Microsoft Word, Excel, Access, Outlook, and PowerPoint. This Career Academy is a five-week program.
			<br>
			<br>
			3. <b>Food Service </b> :
			This career Academy provides hands-on training in the food service industry. You have the opportunity to work at McKenney’s Café. McKenney’s Café is a sandwich shop on the campus of McKenney’s Inc.
			<br>
			<br>
			In the future, BDI will offer more Career Academies. They will have CareerAcademies that prepare you for careers in customer service, call center operations, janitorial services, and landscaping.
	  		</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#Job">
	        	Job Connections Services
	        </a>
	      </h4>
	    </div>
	    <div id="Job" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<b>BDI</b> provides employment specialists to help you search for jobs, identify possible employers, and get a job.
	      	<br>
	      	<br>
			<b>The Job Readiness and Job Connections Program</b> prepares you to apply for a job. This program helps you create a resume and fill out a job application. You can also participate in mock interviews and learn important job-search skills. Employment specialists help you find job opportunities.
			<br>
			<br>
			<b>The Job Coaching Program</b> is a program for newly-hired employees. When you get a job, a job coach will work with you during your first weeks on the job to help you adjust to your new work environment.
			<br>
			<br>
			BDI also offers internships and on-the-job training. Internships can help you and your prospective employer work together before you are hired full-time. BDI pays you during the internship.
	      </div>
	    </div>
	  </div>
	</div>

	<hr class="featurette-divider">

	<h1 class = "text-center"> Locations and Contact Information</h1>
	<br>
	<br>
	<div class="row text-center">
        <div class="col-md-6">
          <h2>Robert J. Freeman Campus</h2>
          	<p>
          	 	2120 Marietta Blvd NW
          	 	<br>
			 	Atlanta, GA 30318
			 	<br>
				Phone: 678-365-0071
				<br>
				Fax: 678-365-0098
				<br>
				TTD: 678-365-0099
		  	</p>
        </div>
        <div class="col-md-6">
          <h2>Jonesboro Campus:</h2>
          	<p>
          		Jonesboro Campus:
          		<br>
				221 Stockbridge Road
				<br>
				Jonesboro, GA 30236
				<br>
				Phone:770-473-2840 
				<br>
				Fax: 770-477-8502 
				<br>
				TDD: 770-473-2849
          	</p>
        </div>
    </div>


